.layout {
  height: 100vh;
  overflow: hidden;

  &-container {
    position: relative;
  }

  &-content {
  }

  &-contacts,
  &-chatlist,
  &-profile,
  &-chat {
    @include hide-scrollbar;
    overflow-y: auto;
  }
}
