include ../pug/contacts.pug
include header.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block styles
      link(href='styles/app.css' rel='stylesheet')

  body.layout.bg-gray.p-0.p-md-4
    .container-xxl.h-100
      main.layout-container.bg-white.radius-1.h-100.row.flex-md-row
        aside.layout-aside.col.col-md-4.px-0.h-100.d-flex.flex-column
          +header.layout-header.order-1.order-md-0
          .layout-aside-content.pt-5.px-4.order-0.order-md-1
            +contacts.layout-contacts
            .layout-chatslist.d-none
            .layout-profile.d-none
            .layout-chats.layout-chats-mobile.d-none
        .layout-content.border-start.border-gray.col.h-100.d-none.d-md-block
          .layout-hello
          .layout-chats.layout-chats-desktop
          block content
