mixin chat-header()
  .chat-header.border-bottom&attributes(attributes)
    img.chat-header-img.avatar(src = "/images/avatar_4.jpg" alt = "Вениамин Редакторович")
    .chat-header-content.py-4
      .chat-header-name Вениамин Редакторович
      .chat-header-status Онлайн
