mixin chat-messages()
  .chat-messages&attributes(attributes)
    .chat-messages-item.mb-3
      .chat-messages-media.d-none.d-md-block
        img.chat-messages-ava.avatar(src = "/images/avatar_4.jpg" alt = "Вениамин Редакторович")
      .chat-messages-content
        .chat-messages-title Вениамин Редакторович
        .chat-messages-text Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
        .chat-messages-date 8 минут назад
    .chat-messages-item.text-white.mb-3.chat-messages-item-owner
      .chat-messages-media.d-none.d-md-block
        img.chat-messages-ava.avatar(src = "/images/avatar_1.jpg" alt = "Вениамин Редакторович")
      .chat-messages-content.chat-messages-content-primary
        .chat-messages-text Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
        .chat-messages-date 5 минут назад
    .chat-messages-item.mb-3
      .chat-messages-media.d-none.d-md-block
        img.chat-messages-ava.avatar(src = "/images/avatar_4.jpg" alt = "Вениамин Редакторович")
      .chat-messages-content.bg-light
        .chat-messages-title Вениамин Редакторович
        .chat-messages-text Лады
        .chat-messages-date 5 минут назад
    .chat-messages-item.text-white.mb-3.chat-messages-item-owner
      .chat-messages-media.d-none.d-md-block
        img.chat-messages-ava.avatar(src = "/images/avatar_1.jpg" alt = "Вениамин Редакторович")
      .chat-messages-content.chat-messages-content-primary
        .chat-messages-text А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
        .chat-messages-date 3 минуты назад
    .chat-messages-item.mb-3
      .chat-messages-media.d-none.d-md-block
        img.chat-messages-ava.avatar(src = "/images/avatar_4.jpg" alt = "Вениамин Редакторович")
      .chat-messages-content
        .chat-messages-title Вениамин Редакторович
        .chat-messages-text о_О
        .chat-messages-date Только что
