mixin hello()
  .hello&attributes(attributes)
    img.hello-img.mb-3(src = 'images/avatar_big.jpg' alt = 'Привет, Кодовёнок' width = "200" height = "200")
    .hello-title.fw-bold.text-center Привет, Кодовёнок
    .hello-text.text-black-50.text-center Выбери чат, чтобы начать общаться
