include search.pug

mixin messages()
  .messages&attributes(attributes)
    H2.messages-title.fw-bold.mb-4 Чаты
    +search({"placeholder": "Поиск по сообщениям"}).messages-form
    each chat in chats
      a.message.messages-chat.px-3.mb-3(href = "#" title = chat.name)
        img.avatar.message-avatar(src = chat.avatar alt = chat.name)
        .message-content.py-4.ps-4
          .message-header
            span.message-name #{chat.name}
            span.message-time #{chat.time}
          .message-status #{chat.status}

-
  var chats = [
    {
      name: "Вениамин Редакторович",
      time: "11:45",
      status: "o_O",
      avatar: "/images/avatar_4.jpg"
    },
    {
      name: "Джедай Падаванов",
      time: "10:12",
      status: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      avatar: "/images/avatar_2.jpg"
    },
    {
      name: "Алексей Примадонин",
      time: "08:53",
      status: "Тесты упали >_<",
      avatar: "/images/avatar_3.jpg"
    }
  ]
